<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="userstats mt-4">
        <h4>Your stats:</h4>
        <p><strong>Total films:</strong> {{ stats.total_films }}</p>
        <p><strong>Fav films:</strong> {{ stats.fav_films }}</p>
        <p><strong>Finished films:</strong> {{ stats.finished_films }}</p>
        <p><strong>To-Watch films:</strong> {{ stats.towatch_films }}</p>
        <br>
        <p><strong>Watched last year:</strong> {{ stats.last_year }}</p>
        <p><strong>Watched current year:</strong> {{ stats.current_year }}</p>
        <p><strong>Your {{current_year}} objective:</strong> {{ userService.user.film_objective }}</p>
      </div>

        <p><ngb-progressbar type="{{ stats.objective_status }}" value="{{ stats.objective }}" [striped]="true" [animated]="true">
          {{ stats.current_year }} of {{ userService.user.film_objective }}
        </ngb-progressbar></p>

    </div>
  </div>
</div>