<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <form class="form-inline" [formGroup]="filmForm">

            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Title</div>
              </div>
              <input type="text" class="form-control" id="title" formControlName="title">
            </div>

            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Status</div>
              </div>
              <input type="text" class="form-control" id="title" formControlName="status">
            </div>


            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Description</div>
              </div>
              <input type="text" class="form-control" id="desc" formControlName="desc">
            </div>

            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Score</div>
              </div>
              <input type="text" class="form-control" id="score" formControlName="score">
            </div>

          <div class="text-center">
            <div class="btn-group">
              <button type="submit" class="btn btn-success mb-2" (click)="onSubmit()">Save</button>
              <button type="button" class="btn btn-danger mb-2" (click)="onCancel()">Cancel</button>
            </div>
          </div>
          </form>
    </div>
  </div>
</div>
