<div class="container">
  <div class="row">
    <div class="col-md-12">
        <form class="form" [formGroup]="filmForm" (ngSubmit)="onSubmit()">

            <div class="input-group mb-3 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Title</div>
              </div>
              <input type="text" class="form-control" id="title" formControlName="title">
            </div>

            <div class="input-group mb-3 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Status</div>
                  </div>
                <select class="custom-select" class="form-control" id="status" formControlName="status">
                  <option value="{{ status }}" *ngFor="let status of filmService.status_p; let i = index">{{ status }}</option>
                </select>
            </div>

            <div class="input-group mb-3 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Description</div>
                </div>
                <input type="text" class="form-control" id="desc" formControlName="desc">
            </div>

            <div class="form-inline">
            <div class="input-group mb-3 mr-sm-2" *ngIf="!(filmForm.value.status !== 'Finished')">
                <div class="input-group-prepend">
                  <div class="input-group-text">Date</div>
                </div>
                <input type="date" class="form-control" id="date" formControlName="date"
                placeholder="yyyy-MM-dd"/>
            </div>

            <div class="input-group mb-3 mr-sm-2" *ngIf="!(filmForm.value.status !== 'Finished')">
                <div class="input-group-prepend">
                  <div class="input-group-text">Score</div>
                </div>
              <select class="custom-select" class="form-control" id="score" formControlName="score">
                <option value="{{ score }}" *ngFor="let score of filmService.scores; let i = index">{{ score }}</option>
              </select>
            </div>

            <div class="input-group mb-3 mr-sm-2" *ngIf="!(filmForm.value.status !== 'Finished')">
                <div class="input-group-prepend">
                  <div class="input-group-text">Fav</div>
                </div>
                <div class="input-group-prepend">
                  <div class="input-group-text fav">
                    <input type="checkbox" aria-label="Fav" formControlName="fav" id="fav">
                  </div>
                </div>
            </div>
          </div>
          <div class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-success mb-2" [disabled]="!filmForm.valid" (click)="onSubmit()">Save</button>
              <button type="button" class="btn btn-secondary mb-2" (click)="onClear()">Clear</button>
              <button type="button" class="btn btn-primary mb-2" (click)="onCancel()">Cancel</button>
            </div>
          </div>
          </form>
          <img src="{{ imageUrl }}">
          <button type="button" class="btn btn-secondary" (click)="onImage()">Get Image</button>
    </div>
  </div>
</div>
