
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
      <ngb-tabset type="pills">
          <ngb-tab>
            <ng-template ngbTabTitle><b>My profile</b></ng-template>
            <ng-template ngbTabContent>
              <div class="mt-2 ml-1" *ngIf="!userService.editMode">
                <img src="" alt="">
                <div class="username">
                  <h6>{{ user.username }}</h6>
                </div>
                <div class="bio">
                  <p>{{ user.bio }}</p>
                </div>
                <br>
                <button class="btn btn-secondary" (click)="onEdit()">Edit</button>
              </div>

            <div class="col-md-6" *ngIf="userService.editMode">
              <form class="form mt-3" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <div class="input-group-text">Username</div>
                      </div>
                      <input type="text" class="form-control" id="title" formControlName="username">
                  </div>
                  <div class="input-group mb-3 mr-sm-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">Bio</div>
                      </div>
                      <input type="text" class="form-control" id="title" formControlName="bio">
                  </div>
                  <br>
                  <div class="btn-group">
                    <button class="btn btn-success" (click)="onSubmit()">Save</button>
                    <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
                  </div>
              </form>
            </div>


              <!-- content -->
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><b>Stats</b></ng-template>
            <ng-template ngbTabContent>
              <!-- content -->
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
    </div>
  </div>
</div>