
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
      <ngb-tabset>
          <ngb-tab>
            <ng-template ngbTabTitle><b>My profile</b></ng-template>
            <ng-template ngbTabContent>
              <div class="col-md-8 mt-2" *ngIf="!userService.editMode">
                <div class="jumbotron">
                    <h4 class="display-4">{{ user.username }}</h4>
                    <p class="lead">{{ user.bio }}</p>
                    <br>
                    <hr class="my-2">
                    <br>
                    <p><strong>Films objective:</strong> {{ user.film_objective }}</p>
                    <p class="lead">
                      <button class="btn btn-primary" (click)="onEdit()">Edit</button>
                    </p>
                  </div>
              </div>

            <div class="col-md-6" *ngIf="userService.editMode">
              <form class="form mt-3" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="edit-user mt-2">
                  <label for="username"><strong>Username:</strong></label>
                  <input type="text" class="form-control" formControlName="username">
                </div>
                <div class="edit-user mt-2">
                  <label for="bio"><strong>Bio:</strong></label>
                  <input type="text" class="form-control" formControlName="bio">
                </div>
                <div class="edit-user mt-2">
                    <label for="birth"><strong>Birthday:</strong></label>
                    <input type="date" class="form-control" id="birth" formControlName="birth"
                    placeholder="yyyy-MM-dd"/>
                </div>
                <div class="edit-user mt-2">
                    <label for="avatar"><strong>Avatar Url:</strong></label>
                    <input type="text" class="form-control" formControlName="avatar">
                </div>
                <div class="edit-user mt-2">
                    <label for="film_objective"><strong>Film Objective:</strong></label>
                    <input type="text" class="form-control" formControlName="film_objective">
                </div>
                  <br>
                  <div class="btn-group">
                    <button type="button" class="btn btn-success" (click)="onSubmit()">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                  </div>
              </form>
            </div>
              <!-- content -->
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><b>Stats</b></ng-template>
            <ng-template ngbTabContent>
              <app-stats></app-stats>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
    </div>
  </div>
</div>