<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">FilmApp</a>
    <button (click)="onExpand()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="expandStatus ? 'show' : 'hide'">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mr-2">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <ng-template [ngIf]="authService.token">
        <li class="nav-item mr-2">
            <a class="nav-link" routerLink="/films" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">My Films</a>
        </li>
        </ng-template>
      </ul>
      <ul class="navbar-nav ml-auto">
        <ng-template [ngIf]="userAuthenticated()">
          <li class="nav-item mr-2">
            <a class="nav-link" (click)="onSave()" style="cursor: pointer;">Save Data</a>
          </li>
          <li class="nav-item mr-2">
              <a class="nav-link" (click)="onFetch()" style="cursor: pointer;">Undo</a>
          </li>
          <li class="nav-item mr-2">
            <a class="nav-link" (click)="onLogout()" style="cursor: pointer;">Logout</a>
          </li>
        </ng-template>
        <ng-template [ngIf]="!userAuthenticated()">
          <li class="nav-item mr-2">
              <a class="nav-link" routerLink="/signin" routerLinkActive="active">Sign in</a>
          </li>
          <li class="nav-item mr-2">
              <a class="nav-link" routerLink="/signup" routerLinkActive="active">Register</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </nav>