.Finished {
    background-color: rgb(198, 253, 198);
}

.fav-true {
    background-color: rgb(252, 252, 181);
    border-color: yellow;
}

.low-score {
    color: red;
}

.mid-score {
    color: orange;
}

.high-score {
    color: green;
}

figure{
    width:100%; /*container-width*/
    overflow:hidden; /*hide bounds of image */
       /*reset margin of figure tag*/
 }

 figure img{
    display:block; /*remove inline-block spaces*/
    width:100%; /*make image streatch*/
    margin:-50% 0;
    opacity: 0.5;
 }