.Finished {
    background-color: rgb(198, 253, 198);
}

.fav-true {
    background-color: rgb(252, 252, 181);
    border-color: yellow;
}

.low-score {
    color: red;
}

.mid-score {
    color: orange;
}

.high-score {
    color: green;
}