<div class="container">
  <div class="row">
      <div class="col-xs-10 list-group"
      [class.col-md-7]="(filmService.editMode || filmService.createMode)"
      [class.col-md-12]="!(filmService.editMode || filmService.createMode)">

        <br><br>
        <div class="btn-group btn-group-sm" role="group" aria-label="Filters">
            <button type="button" class="btn btn-success" (click)="onEdit()">+Add ({{ filmService.filterStatus }})</button>
            <button type="button" class="btn btn-secondary" (click)="onFilter('')"
            [ngClass]="filmService.filterStatus == '' ? 'active' : ''">All</button>
            <button type="button" class="btn btn-secondary" (click)="onFilter('Favorite')"
            [ngClass]="filmService.filterStatus == 'Favorite' ? 'active' : ''">Favorite</button>
            <button type="button" class="btn btn-secondary" (click)="onFilter('Finished')"
            [ngClass]="filmService.filterStatus == 'Finished' ? 'active' : ''">Finished</button>
            <button type="button" class="btn btn-secondary" (click)="onFilter('To-Watch')"
            [ngClass]="filmService.filterStatus == 'To-Watch' ? 'active' : ''">To-Watch</button>
        </div>
        <br>

        <!-- TODO: Card width falla cuando no existe imagen -->
        <div class="cards">
            <div class="card {{ film.status }} fav-{{ film.fav }} mb-2 mr-2" 
            style="cursor: pointer; height: 20%;float: left" 
            [ngStyle]="{'width': (filmService.editMode || filmService.createMode) ? '45%' : '24%' }"
            (click)="onEdit(film, i)"
            SimpleSmoothScroll [scrollTo]="'editor'" [duration]="250"
            *ngFor="let film of films 
            | filter: filmService.filterStatus:'satus'
            | paginate: { itemsPerPage: nItems, currentPage: p }
            ; let i = index">

              <div class="img-card-container">
                <figure>
                  <img class="card-image" src="{{ film.image }}" *ngIf="film.image">
                </figure>
              </div>

              <div class="row ml-1 mt-2">
                <div class="film-title col-md-9">
                  <p class="card-title float-left">{{ film.title }}</p>
                </div>
                <div class="film-score col-md-2 mr-1">
                  <p class="card-title float-left" [ngClass]="film.score <= 4 ? 'low-score' : film.score <= 7 ? 'mid-score' : 'high-score'" *ngIf="film.score">
                  {{ film.score }}
                  </p>
                </div>
              </div>
            </div>
          </div>

        <hr>
        <div class="pagn" style="width:100%; text-align: center;">
          <pagination-controls (pageChange)="p = $event" style="display: inline-block"></pagination-controls>
        </div>

      </div>
      <div class="col-xs-10 col-md-5 list-group">
        <hr><br><br>
          <app-film-editor *ngIf="filmService.editMode" id="editor"></app-film-editor>
          <app-film-editor *ngIf="filmService.createMode" id="editor"></app-film-editor>
      </div>
    </div>
</div>
<br><br><br>